// Default variables.
@import "default-variables";
// My theme variables.
@import '../../../../libraries/bootswatch/flatly/variables';

// Bootstrap Framework.
@import '../bootstrap/assets/stylesheets/bootstrap';

@import '../../../../libraries/bootswatch/flatly/bootswatch';

// Base-theme overrides.
@import 'overrides';

// Font-awesome.
@import '../../../../libraries/font-awesome/scss/font-awesome';

.field--name-field-image {
  float: left;
  margin: 20px;
}


.region-header .name{
  color: $brand-primary;
  font-size: 3em;
  margin: 10px;
}

.is-active {
  @extend .active;
}

// Vertical tabs are not displayed right.
.path-node .form-type-vertical-tabs {
  clear: both;
}

.region-sidebar-first h2 {
  font-size: floor(($font-size-h2 * 0.75));
}
